body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1;
  background-color:#004C54; 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron
{
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/61IZpaGfdGL._AC_SL1000_.jpg');
  text-align: center;
  border-bottom: 25px solid #A5ACAF;k;
  background-size: cover;
  background-position: center center;
  padding-bottom: 5rem;
}

.display-4
{
  color:white;
  font-weight: bold;
}

.lead
{
  font-size: 35px;
  color:white;
  font-weight: bold;
}

.row  
{
  color: #A5ACAF;
  font-size: 32px;
}
.sticky-footer {
  position: fixed;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


